.moving-to-gitlab-wrapper
  .blank-header
    = image_tag "/images/moving-to-gitlab/arrow-pattern-left.svg", class: "image-border image-border-left", alt: "Moving to gitlab pattern left svg"
    = image_tag "/images/moving-to-gitlab/arrow-pattern-right.svg", class: "image-border image-border-right", alt: "Moving to gitlab pattern right svg"
    .header-content
      = image_tag "/images/home/github-importer.svg", class: "hero-image-small", alt: "Gitlab github importer svg"
      %h1 #movingtogitlab
      %p Moving to GitLab? Import your projects with a single click using our GitHub importer.
      = link_to "Learn more", "/community/moving-to-gitlab/", class: "btn cta-btn accent hero-cta hero-mtg-button"
